@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC|Bowlby+One+SC);
/* 404  */
.mensaje h1{
    font-size: 220px !important;
    font-family: 'Source Sans Pro', sans-serif;
}


#not-found {
  position: relative;
  background-color: #1d2b2a;
  font-size: 21px;
  font-family: Inconsolata, "Lucida Console", Monaco, Courier, monospace;
  font-smooth: never;
  line-height: 2em;
  color: #d4f8e3;
  -webkit-font-smoothing: none;
  text-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  -moz-animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
  -webkit-animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
  animation: blink 0.1s steps(2, start) infinite, skip 7s linear infinite, flicker 0.1s steps(2, start) infinite;
}

#not-found #story:after {
  visibility: visible;
  content: '';
  background-color: #d4f8e3;
  display: inline-block;
  position: relative;
  width: 0.5em;
  height: 1em;
  top: 5px;
  margin-left: 0;
  -moz-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  -webkit-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  -moz-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
  -webkit-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
  animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
}

#not-found:before{
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 750px;
  pointer-events: none;
  background-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.2) 2%, rgba(0,0, 0, 0.8) 3%, rgba(0, 0, 0, 0.2) 3%, transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}
#not-found #holder {
  display: table-cell;
  vertical-align: bottom;
  max-width: 800px;
  margin: 0 auto;
}

#not-found #story {
  padding: 10px;
  max-width: 100%;
  display: block;
  white-space: pre;
  line-height: 1.25em;
}

#not-found #kick {
  text-shadow: none;
  margin: 10px;
}

#not-found #kick a {
  background-color: #d4f8e3;
  color: #1d2b2a;
}

#not-found .typed-cursor {
  display: none;
}

@-moz-keyframes blink {
  to {
    background-color: #223332;
  }
}
@-webkit-keyframes blink {
  to {
    background-color: #223332;
  }
}
@keyframes blink {
  to {
    background-color: #223332;
  }
}
@-moz-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@-webkit-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@-moz-keyframes flicker {
  to {
    color: #bddeca;
  }
}
@-webkit-keyframes flicker {
  to {
    color: #bddeca;
  }
}
@keyframes flicker {
  to {
    color: #bddeca;
  }
}
@-moz-keyframes ready {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes ready {
  to {
    visibility: hidden;
  }
}
@keyframes ready {
  to {
    visibility: hidden;
  }
}

@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}



.glitch {
    position: relative;
    margin: 0 auto;
    color: $primaryColor;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #333;
  color: #fff;
  clip: rect(0, 900px, 0, 0);
}
.glitch::before {
  left: 7px;
  text-shadow: 1px 0 green;
  -webkit-animation: glitch-effect 3s infinite linear alternate-reverse;
          animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -1px 0 red;
  -webkit-animation: glitch-effect 2s infinite linear alternate-reverse;
          animation: glitch-effect 2s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(1px, 9999px, 74px, 0);
  }
  5% {
    clip: rect(59px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(89px, 9999px, 93px, 0);
  }
  15.0% {
    clip: rect(100px, 9999px, 71px, 0);
  }
  20% {
    clip: rect(98px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(27px, 9999px, 9px, 0);
  }
  30.0% {
    clip: rect(27px, 9999px, 71px, 0);
  }
  35% {
    clip: rect(70px, 9999px, 72px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 66px, 0);
  }
  45% {
    clip: rect(52px, 9999px, 65px, 0);
  }
  50% {
    clip: rect(43px, 9999px, 40px, 0);
  }
  55.0% {
    clip: rect(48px, 9999px, 35px, 0);
  }
  60.0% {
    clip: rect(64px, 9999px, 50px, 0);
  }
  65% {
    clip: rect(66px, 9999px, 4px, 0);
  }
  70% {
    clip: rect(95px, 9999px, 5px, 0);
  }
  75% {
    clip: rect(67px, 9999px, 83px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 71px, 0);
  }
  85.0% {
    clip: rect(41px, 9999px, 96px, 0);
  }
  90% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  95% {
    clip: rect(6px, 9999px, 41px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 30px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(1px, 9999px, 74px, 0);
  }
  5% {
    clip: rect(59px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(89px, 9999px, 93px, 0);
  }
  15.0% {
    clip: rect(100px, 9999px, 71px, 0);
  }
  20% {
    clip: rect(98px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(27px, 9999px, 9px, 0);
  }
  30.0% {
    clip: rect(27px, 9999px, 71px, 0);
  }
  35% {
    clip: rect(70px, 9999px, 72px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 66px, 0);
  }
  45% {
    clip: rect(52px, 9999px, 65px, 0);
  }
  50% {
    clip: rect(43px, 9999px, 40px, 0);
  }
  55.0% {
    clip: rect(48px, 9999px, 35px, 0);
  }
  60.0% {
    clip: rect(64px, 9999px, 50px, 0);
  }
  65% {
    clip: rect(66px, 9999px, 4px, 0);
  }
  70% {
    clip: rect(95px, 9999px, 5px, 0);
  }
  75% {
    clip: rect(67px, 9999px, 83px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 71px, 0);
  }
  85.0% {
    clip: rect(41px, 9999px, 96px, 0);
  }
  90% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  95% {
    clip: rect(6px, 9999px, 41px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 30px, 0);
  }
}