@import url(http://fonts.googleapis.com/css?family=Pacifico|Lobster+Two:400,400italic,700,700italic|Dancing+Script:400,700|Kaushan+Script);

/*--- PRUEBA ---*/

.letra1{
    font-family: 'Pacifico', cursive !important;
    color: white;
    font-size:50px;
}
.letra2{
    /*font-family: 'Metrophobic', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Lato', Arial, sans-serif;
    font-family: 'Economica', sans-serif;
    font-family: 'Kavoon', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Holtwood One SC', serif;
*/
    font-family: 'Raleway' !important;
    color: white;
    font-size:70px;
    display: inline-block;
}
.letra3{
   /* font-family: 'Holtwood One SC', serif !important;*/
    font-family: 'Bowlby One SC', cursive !important;
    color: white;
    font-size:70px;
}
.letra4{
    font-family: 'Kaushan Script', cursive !important;
    color: white;
    font-size:50px;
}


.efecto-letra{   
    font-weight: 400;
    color: #e0eff2;
    text-shadow: -4px 3px 0 #3a50d9;
}
.efecto-letra2{
    text-shadow: 5px 5px 0px rgba(0, 56, 113, 0.8), 7px 7px 0px #eee;
}



.cd-headline{
    font-family: 'Raleway';
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 50px;
}


/*
.ani{

    text-align: center;

}
.ani img{
    margin: 0 auto !important;
    text-align: center;
    z-index: 10;
}
.ani>div{
    position: absolute;
    top: 170px;
    left: 730px;
    margin: 0 auto !important;
    text-align: center;
    width: 90px;
    height: 90px;
    border: 1px solid white;
    background-color: red;
    border-radius: 50px;
    z-index: 5px;
    box-shadow: 1px 1px 70px 30px white;
}*/
.option{
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;  
    -webkit-animation-delay: 7s;  
    /*-webkit-animation-iteration-count: 5; */
}
.option2{
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 30s;  
    -webkit-animation-delay: 10s;  
    /*-webkit-animation-iteration-count: 5; */
}
.option3{
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 30s;  
    -webkit-animation-delay: 7s;  
    /*-webkit-animation-iteration-count: 5; */
}


.borde{
    border: 1px solid red;
}
.borde1{
    border: 1px solid green;
}
.borde2{
    border: 1px solid yellow;
}
.borde3{
    border: 1px solid blue;
}


/*--- FIN PRUEBA ---*/


